*{
    margin: 0;
    padding: 0;
}
body{
    max-width: 970px;
    font-family: 'Courier New', Courier, monospace;
    background-color: bisque;
}
.sidebar{
    display: inline-block;
    height: 100vh;
    width: 200px;
    background-color: rgb(211, 211, 211);
}
.main{
    display: inline-block;
}